html,body{
  width: 100%;
  height: 90%;
  margin:0;
  padding:0;
  background-color: #323232;
}

.order_main{
  margin:5%;
  border:solid 1px black;
  background-color: #E7E7E7;
  border-radius: 50px;
  width: 90%;
  height: 100%;
}
header{
  margin-top: 30px;
  width: 80%;
  margin-left: 40px;

  font-size: 50px;
}
header img{
  margin-left: 30px;

}
.order_section{

  width: 100%;
  height: 75%;

}
.order_section1,.order_section2{
  display: inline-block;


}
.order_section1{
  position: absolute;
  width: 50%;

  min-height: 75%;

  margin-left: 3%;

}
.order_section2{
  position: absolute;
  margin-left: 56%;
  width: 40%;
  height: 50%;
  min-height: 30%;
  max-height: 70%;
  max-width: 32%;
  overflow-y: scroll;

}
.receipt{
  padding-left : 15px;
  background-color: white;
}
.img{
  margin-left: 5%;
}
.food_img{
  border: 3px solid black;
  padding:20px;
  border-radius: 30px;
  width: 450px;
}
.food_Description{
  width: 70%;

  margin: 0 0 1% 5%;
}
.take{
  position: absolute;
  margin-top: 30%;
  margin-left: 35%;
  display: inline-block;
}


.current{

  width: 70%;
  height: 50%;
}
.container{

  border-radius: 20px;
  display: inline-block;
  position: relative;
  width: 25%;
  height: 60px;
  text-align: center;
  font-size:45px;
  margin-left: 5%;
  background-color: #F9F9F9;
}
.current_receipt{

  margin:2% 0 0 0;

}
.receipt_img{
  width: 5%;

  display: inline-block;
}
.receipt_text{
  position: absolute;
  display: inline-block;
  margin-left: 1%;
  width: 80%;
  max-height: 60%;
  font-size: 22px;

}
.receipt_img img{
  width: 100%;
}
select{
  margin-top: 5%;
}
